var config={
'workssys.r.mt':{
	quality:{
		'quality_pie':{
			pos:''
			,type:'pie'
			,data:['data.mt_data.part_current_cunt','data.mt_data.part_total_cunt']
		}
		,'part_total_cunt':{
			pos:'data.mt_data.part_total_cunt'
			,type:'text'
			,bak:'生产总计'
		}
		,'part_current_cunt':{
			pos:'data.mt_data.part_current_cunt'
			,type:'text'
			,bak:'合格数量'
		}
		,'part_current_percent':{
			pos:''
			,type:'percent'
			,bak:'合格比率'
			,value:['data.mt_data.part_current_cunt','data.mt_data.part_total_cunt']
		}
		,'type':{
			t:'tb2'
			,colspan:'3'
		}
	}
	,efficieny:{
		'util_pie':{
			pos:''
			,type:'pie'
			,data:['kpi.availability']
		}
		,'type':{
			t:'tb2'
			,colspan:'1'
			,othername:['oper']
		}
	}
	,baseinfo:{
		'rt':{
			pos:'device.rt'
			,type:'text'
			,bak:'设备类型'
		}
		,'id':{
			pos:'id'
			,type:'text'
			,bak:'编号'
		}
		,'timestamp':{
			pos:'data.timestamp'
			,type:'date'
			,bak:'开机时间'
		}
		,'device_id':{
			pos:'device.id'
			,type:'text'
			,bak:'设备编号'
		}
		,'name':{
			pos:'device.name'
			,type:'text'
			,bak:'设备名称'
		}
		,'latitude':{
			pos:'data.mt_data.location.latitude'
			,type:'text'
			,bak:'设备位置（纬度）'
		}
		,'longitude':{
			pos:'data.mt_data.location.longitude'
			,type:'text'
			,bak:'设备位置（经度）'
		}
		,'type':{
			t:'tb1'
			,colspan:'2'
		}
	}
	,devicestatus:{
		'mt_status':{
			pos:'data.mt_data.mt_status'
			,type:'status'
			,bak:'设备状态'
		}
		,'mt_mode':{
			pos:'data.mt_data.mt_mode'
			,type:'text'
			,bak:'自动模式选项'
		}
		,'mt_power_on_time':{
			pos:'data.mt_data.mt_power_on_time'
			,type:'day'
			,bak:'开机时间'
		}
		,'mt_operation_time':{
			pos:'data.mt_data.mt_operation_time'
			,type:'day'
			,bak:'运转时间'
		}
		,'mt_time_cycle_current':{
			pos:'data.mt_data.mt_time_cycle_current'
			,type:'day'
			,bak:'实际循环执行时间'
		}
		,'mt_time_cycle_standart':{
			pos:'data.mt_data.mt_time_cycle_standart'
			,type:'day'
			,bak:'标准参考执行时间'
		}
		,'type':{
			t:'tb1'
			,colspan:'2'
		}
	}
	,alarm:{
		'mt_alarm_code':{
			pos:'data.mt_data.mt_alarm_code'
			,type:'text'
			,bak:'报警级别'
		}
		,'alarm_message':{
			pos:'data.mt_data.mt_alarm_message'
			,type:'error'
			,bak:'报警消息'
		}
		,'type':{
			t:'tb2'
			,colspan:'2'
		}
	}
	,cutter:{
		't_no':{
			pos:'data.mt_data.t_no'
			,type:'text'
			,bak:'刀具号码'
		}
		,'mt_cutting_time':{
			pos:'data.mt_data.mt_cutting_time'
			,type:'text'
			,bak:'刀具切削时间'
		}
		,'t_cutting_current':{
			pos:'data.mt_data.t_cutting_current'
			,type:'text'
			,bak:'实际切削次数'
		}
		,'type':{
			t:'tb1'
			,colspan:'2'
		}
	}
	,running_status:{
		'axis_max':{
			pos:'data.mt_data.axis_max'
			,type:'text'
			,bak:'最大转轴数'
		}
		,'axis_current':{
			pos:'data.mt_data.axis_current'
			,type:'text'
			,bak:'目前转轴数'
		}
		,'speed_max':{
			pos:'data.mt_data.spindle_speed_max'
			,type:'text'
			,bak:'主轴最大转速'
		}
		,'speed_command':{
			pos:'data.mt_data.spindle_speed_command'
			,type:'text'
			,bak:'主轴命令转速'
		}
		,'speed_actual':{
			pos:'data.mt_data.spindle_speed_actual'
			,type:'chart'
			,bak:'主轴转速'
		}
		,'spindle_loading':{
			pos:'data.mt_data.spindle_loading'
			,type:'chart'
			,bak:'主轴负载'
		}
		,'speed_override':{
			pos:'data.mt_data.spindle_speed_override'
			,type:'chart'
			,bak:'主轴倍率'
		}
		,'feedrate_command':{
			pos:'data.mt_data.axis_feedrate_command'
			,type:'text'
			,bak:'命令进给率'
		}
		,'feedrate_current':{
			pos:'data.mt_data.axis_feedrate_current'
			,type:'chart'
			,bak:'实际进给率'
		}
		,'feedrate_override':{
			pos:'data.mt_data.axis_feedrate_override'
			,type:'chart'
			,bak:'进给倍率'
		}
		,'feedrate_override':{
			pos:'data.mt_data.axis_feedrate_override'
			,type:'chart'
			,bak:'进给倍率'
		}
		,'axis_name':{
			pos:''
			,type:'value'
			,bak:'进给倍率'
			,value:['coordinate','surplus']
		}
		,'X_axis':{
			pos:''
			,type:'v2'
			,value:['data.mt_data.axes_pos.0.axis_pos_ma','data.mt_data.axes_pos.0.axis_dist2go']
			,bak:'X'
		}
		,'Z_axis':{
			pos:''
			,type:'v2'
			,value:['data.mt_data.axes_pos.1.axis_pos_ma','data.mt_data.axes_pos.1.axis_dist2go']
			,bak:'Y'
		}
		,'SP_axis':{
			pos:''
			,type:'v2'
			,value:['data.mt_data.axes_pos.2.axis_pos_ma','data.mt_data.axes_pos.2.axis_dist2go']
			,bak:'SP'
		}
		,'type':{
			t:'td'
			,colspan:'2'
		}

	}
}

}
